* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  margin-left: 125px;
}

.nav {
  width: 40%;
  position: relative;
  top: 0;
  left: 150px;
}

.nav>ul {
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style-type: none;
}

.nav a {
  color: #4c4d5f;
  font-size: 17px;
  font-family: "Proximanova opt", sans-serif;
  text-decoration: none;
}

.btns {
  display: flex;
  gap: 20px;
  position: relative;
  top: 0;
  left: 200px;
}

.btns .login {
  width: 85px;
  height: 35px;
  font-weight: bold;
  color: #00b289;
  border: 1px solid #00b289;
  border-radius: 5px;
  background-color: #ffff;
}

.btns .start {
  width: 130px;
  height: 35px;
  font-weight: bold;
  color: #ffff;
  border: 1px solid #00b289;
  border-radius: 5px;
  background-color: #00b289;
}

#middle {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 250px;
  width: 1200px;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 450px;
  margin: 30px;
}

.text h2 {
  color: #4c4d5f;
  font-size: 40px;
}

.text p {
  color: #4c4d5f;
  font-size: 20px;
  font-family: sans-serif;
}

.text label {
  display: flex;
  justify-content: flex-start;

  height: 60px;
  border: 3px solid #00b289;
}

label input {
  width: 300px;
  border: none;
}

label button {
  width: 180px;
  color: #ffff;
  background-color: #00b289;
  border: none;
}

.main-middle {
  position: relative;
  top: 400px;
  margin: 0 auto;
  width: 600px;
}

.main-middle h3 {
  text-align: center;
  color: #4c4d5f;
  font-size: 30px;
  line-height: 100px;
}

.main-middle p {
  text-align: center;
  color: #4c4d5f;
  font-size: 20px;
}

.images {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 500px;
  width: 900px;
  margin: 0 auto;
}

.images .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.first p {
  color: #4c4d5f;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}

.images .second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.second p {
  color: #4c4d5f;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}