* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2faff;
}

.logo {
  margin-left: 125px;
}

.nav {
  width: 40%;
  position: relative;
  top: 0;
  left: 150px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style-type: none;
}

.nav a {
  color: #4c4d5f;
  font-size: 17px;
  font-family: "Proximanova opt", sans-serif;
  text-decoration: none;
}

.btns {
  display: flex;
  gap: 20px;
  position: relative;
  top: 0;
  left: 200px;
}

.btns .login {
  width: 85px;
  height: 35px;
  font-weight: bold;
  color: #00b289;
  border: 1px solid #00b289;
  border-radius: 5px;
  background-color: #ffff;
}

.btns .start {
  width: 130px;
  height: 35px;
  font-weight: bold;
  color: #ffff;
  border: 1px solid #00b289;
  border-radius: 5px;
  background-color: #00b289;
}

#middle {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  position: relative;
  top: 250px;
  width: 1200px;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 450px;
  margin: 30px;
}

.text h2 {
  color: #4c4d5f;
  font-size: 40px;
  z-index: -1;
}

.text p {
  color: #4c4d5f;
  font-size: 20px;
  font-family: sans-serif;
  z-index: -1;
}

.text label {
  display: flex;
  justify-content: flex-start;
  z-index: -1;
  height: 60px;
  border: 3px solid #00b289;
}

label input {
  width: 300px;
  border: none;
}

label button {
  width: 180px;
  color: #ffff;
  background-color: #00b289;
  border: none;
}

.mid-img {
  z-index: -1;
}

.main-middle {
  position: relative;
  top: 400px;
  margin: 0 auto;
  width: 600px;
  font-family: sans-serif;
  z-index: -1;
}

.main-middle h3 {
  text-align: center;
  color: #4c4d5f;
  font-size: 30px;
  line-height: 100px;
}

.main-middle p {
  text-align: center;
  color: #4c4d5f;
  font-size: 20px;
}

.images {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 500px;
  width: 900px;
  margin: 0 auto;
  z-index: -1;
}

.images .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.first p {
  color: #4c4d5f;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}

.images .second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.second p {
  color: #4c4d5f;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}

.end-middle {
  width: 900px;
  position: relative;
  top: 650px;
  left: 150px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  z-index: -1;
}

.links div {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4c4d5f;
}

.links p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: #4c4d5f;
}

.heading {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 20px;
}

.heading h2 {
  font-size: 35px;
}

.heading p {
  font-size: 20px;
}

.heading button {
  border: none;
  background-color: #ffff;
  width: 250px;
  display: flex;
  gap: 20px;
  color: #00b289;
  font-weight: bold;
  font-size: 16px;
}

.heading .image {
  position: relative;
  top: 50px;
}

.container {
  position: relative;
  top: 900px;
  font-family: sans-serif;
  z-index: -1;
}

.container h2 {
  text-align: center;
  font-size: 30px;
}

.para {
  position: relative;
  top: 950px;
  z-index: -1;
}

.para p {
  text-align: center;
  font-size: 20px;
}

.tow-img {
  margin: 0 auto;
  width: 700px;
  height: 250px;
  position: relative;
  top: 1050px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  z-index: -1;
}

.one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h2 {
  position: relative;
  top: 1150px;
  font-size: 30px;
  font-family: sans-serif;
  color: #4c4d5f;
  text-align: center;
  z-index: -1;
}

.last {
  margin: 0 auto;
  width: 800px;
  height: 150px;
  position: relative;
  top: 1300px;
  background-color: #f2faff;
  display: flex;
  align-items: center;
  z-index: -1;
}

.last h2 {
  padding: 40px;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 50px;
}

.last button {
  width: 130px;
  height: 40px;
  margin-left: 150px;
  font-weight: bold;
  color: #ffff;
  border: 1px solid #00b289;
  border-radius: 5px;
  background-color: #00b289;
}

.main-footer {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  top: 1400px;
  display: flex;
  justify-content: space-around;
  z-index: -1;
}

.main-footer div h3,
h4 {
  font-size: 15px;
  font-family: sans-serif;
}

.main-footer div ul {
  margin-top: 35px;
  list-style-type: none;
}

.main-footer div a {
  display: flex;
  line-height: 40px;
  text-decoration: none;
  color: #4c4d5f;
  font-family: sans-serif;
}
@media only screen and (max-width:600px){
   #header{
    width: 370px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   .logo{
    margin: 20px;
   }
   .nav ul{
    width: 370px;
    height: 200px;
    position: relative;
    top: 15px;
    right: 150px;
    display: flex;
    flex-direction: column;
    background-color: #f2faff;
   }
   .btns{border: 2px solid red;
    width: 365px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: -0px;
   }
   .btns .login{
    width: 365px;
   }
   .btns .start{
    width: 365px;
   }

}